<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="Default" connectionString="Data Source=.\DemoDB.db;Version=3;" providerName="System.Data.SqlClient" />-->
    <add name="Default" connectionString="Data Source= W:\Documnts\Software\Portal\Summary\2024\DemoDB.db;Version=3;" providerName="System.Data.SqlClient" />
    <!--<add name="Default" connectionString="Data Source= C:\Users\nnoe\Documents\GitHub\SOCE.Library\SOCE.Library\SOCE.Library.UI\bin\Debug\DemoDB.db;Version=3;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>